@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: linear-gradient(to bottom, #0f0b17, #0a0810);
  height: 100vh;
  color: white;
  font-family: "Inter", sans-serif !important
}

.custom-margin{
  margin-left: -30px;
}